<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.dao.UserDao">

  <select id="selectByAddress" resultType="MapVO">
       select address name ,count(*) `value` from user group by address
  </select>

    <select id="selectCountBySexAndDay" resultType="Integer">
      select count(*) from user where sex = #{sex} and DATE_SUB(NOW(),INTERVAL #{day} day) &lt; createTime
    </select>


</mapper>